<h1>BookmarkStation#list</h1>

<table>
  <tr>
    <td>Estação</td>
    <% if !user_signed_in? %>
      <td>email do usuário</td>
    <% end %>
  </tr>
  <% @bookmark_stations.each do |bm| %>
    <tr>
      <td><%= bm.station.name %></td>
      <% if !user_signed_in? %>
        <td><%= bm.user.email %></td>
      <% end %>
    </tr>
  <% end %>
</table>