<h1>BookmarkStation#list</h1>

<table>
  <tr>
    <td>Estação</td>
    <td>email do usuário</td>
  </tr>
  <% @bookmark_stations.each do |bm| %>
    <tr>
      <td><%= bm.station.name %></td>
      <td><%= bm.user.email %></td>
    </tr>
  <% end %>
</table>