<head>
<style>
body {height: 1000px}
p    {color: red;}
map {height: 100px}

</style>
</head>
<header><h1 class="display-4">Bike Sharing</h1></header>
<div id="map" class="col-md-10 col-md-offset-1" style="height:100%"></div>
