<a href="javascript:void(0)" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-map-marker"></span> Bikes livres</a><div id="legend"><h3>Legenda</h3></div>
<div id="basic_map" class="div-sm-12 div-md-12"></div>
