<a id="routeFreeBike" href="javascript:void(0)" class="btn btn-lg btn-primary">
<span class="glyphicon glyphicon-map-marker"></span> Guardar Bike</a>
<div id="legend"><h3>Legenda</h3>
        <font size="3"><img src="/assets/okBike.png"> Há bikes livres<br>
        <img src="/assets/badBike.png"> Nenhuma bike livre</font></div>
<div id="basic_map" class="div-sm-12 div-md-12"></div>
