/*html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#basic_map {
position: absolute;
width: 90%;
left: 0;
height: 95%;
margin-left: auto;
margin-right: auto;

}*/

html, body, .container,  #map {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
}

body {
  background-color: #f7f7f7;
}

#basic_map {
    position: relative;
    height: 96%;
    margin: 0 auto;
    overflow: hidden !important;
    line-height: 1.35;
    white-space: nowrap;
}
