/*html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#basic_map {
position: absolute;
width: 90%;
left: 0;
height: 95%;
margin-left: auto;
margin-right: auto;

}*/

#basic_map img {
  max-width: none;
}
#basic_map label {
  width: auto; display:inline;
}

html, body, #basic_map {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#basic_map {
    position: relative;
    height: 96%;
    margin: 0 auto;
    line-height: 1.35;
    white-space: nowrap;
}

body {
  background-color: #f7f7f7;
}
#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}
#legend div {
    font-size: 15px;
}
#legend h3 {
  margin-top: 0;
}
#legend img {
  vertical-align: middle;
}
